<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">
    <targets>
        <target name="consoleLog" xsi:type="ColoredConsole">
            <layout xsi:type="JsonLayout" escapeForwardSlash="false" suppressSpaces="true" includeAllProperties="true">
                <attribute layout="${longdate}" name="Timestamp"/>
                <attribute layout="${level:upperCase=true}" name="Level"/>
                <attribute layout="${message}" name="Message" encode="false"/>
                <attribute layout="${exception:format=tostring,StackTrace}" name="Exception"/>
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="consoleLog"/>
    </rules>
</nlog>